[Unit]
Description=Graylog2-web service

After=docker.service
After=etcd2.service
After=flanneld.service

Requires=docker.service
Requires=flanneld.service

[Service]
Restart=on-failure
RestartSec=15s
TimeoutStartSec=3m
TimeoutStopSec=25
KillMode=none

EnvironmentFile=/etc/environment
Environment="IMG=bidibi/graylog2-web"
Environment="CONTAINER=%p.%i"

# These are set here so they don't show in the command line
Environment=GRAYLOG_SERVER_SECRET=aaa

ExecStartPre=-/usr/bin/docker kill ${CONTAINER}
ExecStartPre=-/usr/bin/docker rm ${CONTAINER}
ExecStartPre=/usr/bin/docker pull ${IMG}

ExecStart=/bin/bash -c ' \
\
  export GRAYLOG_SERVERS=`dig @localhost +short SRV graylog2-server.skydns.local \
  | awk \'{print "http://" substr($4, 0, length($4)-1) ":12900"}\' \
  | paste -s -d"," `; \
  echo "=== Graylog servers: $GRAYLOG_SERVERS"; \
\
  /usr/bin/docker run \
    --name ${CONTAINER} \
    --dns ${COREOS_PRIVATE_IPV4} \
    --hostname "gl-web-%m" \
    --env "SERVICE_ID=%i" \
    --env "SERVICE_NAME=%p" \
    --volume /tmp \
    --publish 9000:9000 \
    --env GRAYLOG_SERVERS \
    --env GRAYLOG_SERVER_SECRET \
    ${IMG} \
'


ExecStop=/usr/bin/docker stop ${CONTAINER}

[X-Fleet]
Conflicts=%p@*.service
Conflicts=elasticsearch@*.service
